@import "../../sass_styles/main";

.equipacal-container {
  @include give-flex-column(center, center);
  gap: 4rem;
  padding: 0 4rem;

  .title-container {
    @include give-flex-column(center, center);
    gap: 1rem;

    .pp-title {
      @include text-primary;
      margin-top: 8rem;
      color: $blue;
    }
    .pp-subtitle {
      @include h1;
      color: $blue;
    }
  }

  .professores-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;

    div {
      display: flex;
      justify-content: center;
    }

    .equipacal-photo {
      .professor-photo {
        width: 20vh;
      }
    }

    // div:nth-child(7n + 5),
    // div:nth-child(7n + 6),
    // div:nth-child(7n + 7) {
    //   width: calc(33.33% - 4rem);
    // }
  }
  .hidden {
    display: none;
  }
}

@media (max-width: 992px) {
  .equipacal-container {
    padding: 0 2rem;

    .title-container {
      .pp-title {
        margin-top: 0;
      }
    }
    .professores-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .equipacal-container {
    .professores-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    @include give-flex-column(center, center);
    gap: 2rem;
    background-color: $green;
    padding: 6rem;
    border-radius: 50%;
    width: 30%;

    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);

    .close-button {
      background: none;
      border: none;
      @include hero_xl;
      cursor: pointer;
    }
    .modal-header h2 {
      margin: 0;
      @include h2;
    }

    .modal-header h3 {
      margin: 0;
      font-size: 18px;
      color: #555;
    }

    .modal-body {
      @include give-flex-row(center, center);
      flex-direction: column;
      gap: 1rem;
    }
  }
}
