@import "../../sass_styles/main";

.equipacal-container {
  @include give-flex-column(center, center);
  gap: 4rem;

  .title-container {
    @include give-flex-column(center, center);
    gap: 16px;

    .pp-title {
      @include text-primary;
      margin-top: 8rem;
    }
    .pp-subtitle {
      @include h1;
      color: $blue;
    }
  }

  .professores-container {
    @include give-flex-row(center, center);
    width: 100%;
  }
  .hidden {
    display: none;
  }
}
