@import "../../sass_styles/main";

.calmais-container {
  @include give-flex-column(center, center);
  gap: 4rem;

  .title-container {
    @include give-flex-column(center, center);
    gap: 16px;
    .pp-subtitle {
      @include h1;
      color: $blue;
    }
    .pp-title {
      @include text-primary;
      margin-top: 8rem;
    }
  }

  .projeto-container {
    border-radius: 48px;
    margin: 0 64px;
    .projecto {
      @include give-flex-column(center, center);
      gap: 32px;
      padding: 64px 256px;
      color: $white;

      h2 {
        @include h2;
      }
      p {
        @include text-primary;
        text-align: justify;
      }
    }
  }

  .yellow {
    background-color: $yellow;
  }

  .orange {
    background-color: $orange;
  }

  .cyan {
    background-color: $cyan;
  }

  .blue {
    background-color: $blue;
  }

  .lightblue {
    background-color: $light-blue;
  }

  .green {
    background-color: $green;
  }

  .magenta {
    background-color: $magenta;
  }
}
