@import "../../sass_styles/main";

.logo {
  width: 148px;
}

.white {
  fill: white;
}

.black {
  fill: black;
}

.cls-2 {
  fill: #d766a2;
}

.cls-3 {
  fill: #79ccf3;
}

.cls-4 {
  fill: #e20613;
}

.cls-5 {
  fill: #f2921a;
}

.cls-6 {
  fill: #198ece;
}

.cls-7 {
  fill: #bbce00;
}

.cls-8 {
  fill: #009ee2;
}

.cls-9 {
  fill: #fccd00;
}
