@import "../../sass_styles/main";

.navmenu {
  color: $black-primary;
  text-align: left;
  @include give-flex-row(center, center);
  gap: 16px;
  margin-right: 32px;
  .submenu-wrapper {
    @include give-flex-column(flex-start, center);
    position: relative;

    .menuwhite {
      color: $white;
    }

    .submenu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 185%;
    }
    &:hover .submenu {
      display: block;
    }

    a {
      @include text-nav;
    }
  }
}

.navmenu-mobile {
  @include give-flex-column(flex-end, center);
  background-color: $black-primary;
  gap: 1rem;
  opacity: 0.9;
  color: $white;
  padding: 2rem;
  .submenu-wrapper-mobile {
    @include give-flex-column(flex-end, flex-start);
    position: relative;
    font-weight: 700;
  }
}
