@import "../../sass_styles/main";

.historia-container {
  @include give-flex-column(center, center);
  .pp-subtitle {
    @include h3;
    color: $blue;
    margin-bottom: 64px;
    margin-top: 12rem;
    width: 50%;
  }
  .conteudo-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
    padding: 64px;

    .historia-conteudo {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      h4 {
        @include h4;
        width: 40%;
        text-align: left;
      }
    }
    .img-section {
      @include give-flex-column(flex-end, center);
      gap: 20px;
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        border-radius: 8px;
      }
    }

    .txt-section {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      color: $black-primary;

      p {
        @include text-primary;
        color: $black-primary;
        text-align: left;
      }

      p:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }
  .historia-info > div {
    margin-bottom: 32px;
    p {
      @include text-primary;
    }
  }
  .historia-info {
    width: 50%;
    h4 {
      color: $blue;
      @include h3;
    }
    h3 {
      color: $blue;
      @include h2;
      margin-bottom: 64px;
    }
  }
}
