@import "../../sass_styles/main";

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
}

.missao-container {
  @include give-flex-column(center, flex-start);
  gap: 4rem;
  padding: 0 4rem;

  .title-container {
    @include give-flex-column(center, center);
    gap: 1rem;
    .pp-subtitle {
      @include hero;
      font-weight: 800;
      color: $blue;
    }
    .pp-title {
      @include text-primary;
      margin-top: 8rem;
    }
  }
  .missao-texto {
    @include h2;
    color: $blue;
    font-weight: 500;
  }
}
