@import "../../sass_styles/main";

.protocoloseparcerias-container {
  @include give-flex-column(center, center);
  gap: 4rem;
  padding: 0 4rem;

  .title-container {
    @include give-flex-column(center, center);
    gap: 16px;
    .pp-subtitle {
      @include h1;
      color: $blue;
    }
    .pp-title {
      @include text-primary;
      margin-top: 8rem;
    }
  }

  .circles-wrapper-4 {
    @include give-flex-row(center, space-between);
    width: 100%;
  }

  .circles-wrapper-3 {
    @include give-flex-row(center, space-between);
    gap: 96px;
  }
  .hidden {
    display: none;
  }
}
