@font-face {
  font-family: "barlow_regular";
  src: url(../assets/fonts/Barlow-Regular.ttf) format(truetype);
}
$font-main-regular: "barlow_regular", sans-serif;

@font-face {
  font-family: "barlow_semibold";
  src: url(../assets/fonts/Barlow-SemiBold.ttf) format(truetype);
}
$font-main-semibold: "barlow_semibold", sans-serif;

@font-face {
  font-family: "barlow_bold";
  src: url(../assets/fonts/Barlow-Bold.ttf) format(truetype);
}
$font-main-bold: "barlow_bold", sans-serif;

@font-face {
  font-family: "barlow_extrabold";
  src: url(../assets/fonts/Barlow-ExtraBold.ttf) format(truetype);
}
$font-main-extrabold: "barlow_extrabold", sans-serif;

@font-face {
  font-family: "monserrat-semibold";
  src: url(../assets/fonts/Montserrat-SemiBold.ttf) format(truetype);
}
$font-monserrat-semibold: "monserrat-semibold", sans-serif;

@font-face {
  font-family: "lato-heavy";
  src: url(../assets/fonts/Lato-Heavy.ttf) format(truetype);
}
$font-lato-heavy: "lato-heavy", sans-serif;

@mixin hero_xl {
  font-family: $font-lato-heavy;
  font-size: 122px;
  line-height: 185.33px;
}

@mixin hero {
  font-family: $font-lato-heavy;
  font-size: 68px;
  line-height: 75.16px;
}

@mixin h1 {
  font-family: $font-main-extrabold;
  font-size: 68px;
}

@mixin h2 {
  font-family: $font-main-extrabold;
  font-size: 55px;
}

@mixin h3 {
  font-family: $font-main-semibold;
  font-size: 30px;
}

@mixin h4 {
  font-family: $font-main-extrabold;
  font-size: 25px;
}

@mixin h5 {
  font-family: $font-main-regular;
  font-size: 16px;
}

@mixin h6 {
  font-family: $font-main-regular;
  font-size: 14px;
}

@mixin text-primary {
  font-family: $font-main-regular;
  font-size: 20px;
}

@mixin text-secondary {
}

@mixin text-label {
}
