@import "../../sass_styles/main";

.image-display {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .image-display {
    height: 300px;
  }
}
