@import "../../sass_styles/main";

.aprendeligate {
  width: 100%;
  h6 {
    @include h6;
  }
  h2 {
    margin-top: 1rem;
    @include h2;
  }
  div {
    img {
      margin-top: 2rem;
      width: 1140px;
      height: 620px;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}
