@import "../../sass_styles/main";

.descobre {
  background-image: url("../src/assets/media/svg/colorballs.svg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 33%;

  .descobre-container {
    width: 100%;
    padding: 0 4rem;
    @include give-flex-row(flex-start, center);
    gap: 16px;
    .descricao {
      @include give-flex-column(flex-start, center);
      flex: 1;
      h6 {
        @include h6;
      }
      h2 {
        @include h2;
        text-align: left;
      }
      p {
        @include text-primary;
        margin-top: 2rem;
        text-align: left;
      }
      .descricao-lista {
        @include give-flex-row(flex-start, center);
        width: 100%;
        margin: 2rem 0;
        gap: 32px;
        div {
          flex: 1;
          ul {
            @include text-primary;
            line-height: 40px;
            list-style-type: disc;
            padding-left: 20px;
            li::marker {
              color: $blue;
            }
            li {
              color: $black-primary;
              text-align: left;
            }
          }
        }
      }
    }
    .descobre-foto {
      flex: 1;
      padding-right: 128px;
      img {
        border-radius: 16px;
      }
    }
  }
}
