@import "../../sass_styles/main";

.nav-container {
  @include give-flex-row(center, space-between);
  margin-top: 64px;
  width: 100%;

  div {
    @include give-flex-row(center, center);
    gap: 32px;
  }
}
