@import "../../sass_styles/main";

.counter {
  @include h1;
  color: $white;
  @include give-flex-column(center, center);
  width: 100%;
}

div {
  @include h5;
}

@media (max-width: 768px) {
  .counter {
    font-size: calc(100% * 0.95);
    div {
      font-size: calc(100% * 0.8);
    }
  }
}
