@import "../../sass_styles/main";

.counter {
  color: $white;
  @include give-flex-column(center, center);
  width: 100%;
  span {
    @include hero_xl;
  }
  div {
    @include h4;
    font-weight: 300;
  }
}

@media (max-width: 992px) {
  .counter {
    span {
      @include hero;
    }
    div {
      @include h4;
      font-weight: 300;
    }
  }
}

@media (max-width: 480px) {
  .counter {
    span {
      @include h1;
    }
    div {
      @include h5;
      font-weight: 300;
    }
  }
}
