@import "../../sass_styles/main";

.hero-banner {
  display: flex;
  flex-direction: column;
  padding: 0 64px;
  height: 600px;
  background-image: url("../../assets/media/fotos_aleatorias/converted_webp/Foto-9.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;

  .hero-center-text {
    @include give-flex-column(center, center);
    gap: 32px;
    width: 100%;
    text-align: center;
    p {
      @include hero;
      margin-top: 48px;
      width: 60%;
      color: $white;
      text-transform: uppercase;
    }
  }
}
