@import "../../sass_styles/main";

.hero-banner {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  height: 100vh;
  background-image: url("../../assets/media/fotos_aleatorias/converted_webp/Foto-9-1edit.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;

  .hero-center-text {
    @include give-flex-column(center, center);
    gap: 2rem;
    text-align: center;
    padding: 10rem;
  }
  .hero-center-text h1 {
    @include hero_xl;
    line-height: 3.5rem;
    color: $white;
    text-transform: uppercase;
  }
  .hero-center-text h2 {
    line-height: 2.5rem;
    @include hero;
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
  }
}

@media (max-width: 992px) {
  .hero-banner {
    padding: 0 2rem;
    .hero-center-text {
      padding: 4rem 0;
      h1 {
        @include h1;
        line-height: 2.5rem;
      }
      h2 {
        @include h2;
        line-height: 2rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .hero-banner {
    .hero-center-text {
      input {
        display: none;
      }
    }
  }
}
