@import "../sass_styles/main";

.balls-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Ensure it's behind other elements */
  overflow: hidden;
}

.ball {
  position: absolute;
  border-radius: 50%;
  animation: bounce 10s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
}
