@import "../sass_styles/main";

.btn {
  @include give-flex-row(center, center);
  background-color: $yellow;
  @include font-main-semibold;
  max-width: 500px;
  text-wrap: wrap;
  font-size: 1rem;
  line-height: 14px;
  padding: 1rem 2.25rem;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.h3 {
  color: $blue;
  @include h3;
}
